.App {
  text-align: left;
}


.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.categories {
  width: 20%;
  float: left;
}

.products {
  width: 60%;
  float: left;
}

.cart {
  width: 20%;
  float: left;
}

.product-price {
  text-align: right;
}